    <!--main aboutus start start-->
    <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">Grow your business with me</p>
          <div class="row">
            <div class="col-md-6 col-12 hero-text ">
              <figure>
                <img src="images/about.svg" alt="herosection_image">
              </figure>
            </div>
            <div
              class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
              <h1>I Am A PROFESSIONAL DEVELOPER</h1>
              <p>Programming is about managing <span class="blod-style">complexity</span>: the complexity of the problem, laid upon the complexity of the machine. Because of this complexity, most of our programming projects fail.</p>
            </div>



          </div>
        </div>
      </div>
      <!--main aboutus end start-->