<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">My Services</h1>
            <p class="text-center sub-heading">Grow your business with me</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Bangladesh</h4>
                            <p>I love Bangladesh very much.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>India</h4>
                            <p>I love Bangladesh very much.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Germany</h4>
                            <p>I love Bangladesh very much.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>United State</h4>
                            <p>I love Bangladesh very much.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>United Kingdom</h4>
                            <p>I love Bangladesh very much.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <h4>Nepal</h4>
                            <p>I love Bangladesh very much.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>